@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #f6f6f6;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* remove scroll horizontal fantasma */
body {
  overflow-y: auto;
}

/* remove herança estranha de tema escuro */
html {
  color-scheme: light;
}
